[Desktop Entry]
Version=1.0
Type=Link
Name=tv.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/alura-plus/blob/Aula-14/img/tv.png
